<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="feralo">
    <meta name="author" content="feralo.com">
    <link rel="icon" href="favicon.ico">
    <title>feralo</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="https://github.com/Feralo/website" target="new">source</a>
          <a class="blog-nav-item active" href="/">home</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        {% comment %}
		<h1 class="blog-title">lessons</h1>
        <p class="lead blog-description">notes from learning</p>
		{% endcomment %}
      </div>

      <div class="row">
        <div id="lessons" class="col-sm-8 blog-main">

	      {% block posts %}
	      {% endblock %}

        </div><!-- /#posts -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	      <div class="sidebar-module">
			<img src="https://avatars2.githubusercontent.com/u/2643768?s=460" />
		  </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/Feralo">GitHub</a></li>
              <li><a href="www.linkedin.com/in/noahspahn">LinkedIn</a></li>
            </ol>
          </div>
        </div><!-- /.col-sm-3 -->
      </div><!-- /.row -->

    </div><!-- /.container -->

	<div class="blog-footer">
	  <p> lessons by <a href="https://twitter.com/versorge">versorge</a>.</p>
	  <p>
	      <a href="#">
	          Back to top
	      </a>
	  </p>
    </div><!-- /.blog-footer -->
  </body>
</html>