{% extends 'base.html' %}

{% load custom_markdown %}

{% block header_text %}Lessons{% endblock %}
{% block posts %}

	{% for lesson in lessons %}
	<div class="blog-post">
	  <h2 class="blog-post-title"><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></h2>
	{{ post.title }}</a>
	  <p class="blog-post-date">{{ lesson.created }}</p>
		{{ lesson.text | custom_markdown}}
	</div><!-- /.blog-post -->
  {% endfor %}
  {% if page_obj.has_previous %}
  <a href="/{{ page_obj.previous_page_number }}/">Previous Page</a>
  {% endif %}
  {% if page_obj.has_next %}
  <a href="/{{ page_obj.next_page_number }}/">Next Page</a>
  {% endif %}
{% endblock %}

